################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/RabbitServer/LearnRabbit/LearnRabbit/obj/Debug/LearnRabbit.csprojAssemblyReference.cache
*.cache
/.vs/myLearnPlan/v16
/.vs/slnx.sqlite
*.json
/RabbitServer/LearnRabbit/.vs/LearnRabbit/v16/Server/sqlite3
/RabbitServer/LearnRabbit/.vs/LearnRabbit/v16/.suo
